@import "sass/main.scss";

.container {
   height: 40vh;
   display: flex;
   align-items: top;
   justify-content: center;
}

.BuildControls {
   font: 400 1.5rem var(--ff-primary);
   @include font-size-fluid(rem-to-px(1.5rem), rem-to-px(2rem));
   width: 70%;
   height: 90%;
   background-color: white;
   border-radius: 1rem;
   box-shadow: var(--bs);
   overflow: hidden;

   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: space-between;

   > * {
      width: 100%;
   }

   @include media(">sm") {
      width: 60%;
   }
   @include media(">md") {
      width: 50%;
   }
}

.currentPrice {
   border-radius: 1rem 1rem 0 0;
   font: inherit;
   display: flex;
   align-items: center;
   justify-content: center;
   flex: 1 1 auto;
   padding: 1vh 1vw;
}

.orderButton {
   flex: 1 1 auto;
   font: inherit;
   cursor: pointer;
   outline: none;
   border: none;
   border-radius: 0 0 1rem 1rem;
   transition: all 350ms ease-out;
   background-color: white;
   color: var(--c-primary);
   padding: 1vh 1vw;

   &:hover,
   &:active {
      background-color: var(--c-primary);
      color: white;
   }

   &:disabled {
      background-color: var(--c-light);
      color: #888888;
      cursor: not-allowed;
   }
}
