@import "sass/main.scss";

.Modal {
   position: fixed;
   z-index: 500;
   overflow: hidden;
   width: 70%;
   height: 40vh;
   border-radius: 1rem;
   box-shadow: var(--bs);
   padding: 16px;
   left: 15%;
   top: 30%;
   transition: all 300ms ease-out;
   background-color: white;

   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   & ul {
      display: flex;
      justify-content: space-evenly;
      width: 100%;

      & li {
         list-style: none;
         background-color: var(--c-primary-light-2);
         color: var(--c-dark);
         border-radius: var(--br);
         box-shadow: var(--bs);
         margin-left: 1rem;
         padding: 0.5rem;
      }
   }

   @include media(">md") {
      width: 500px;
      left: calc(50% - 250px);
   }
}
