@import "sass/main.scss";

.NavigationItems {
   list-style: none;
   height: 100%;
   width: 100%;

   display: flex;
   flex-flow: column;
   align-items: center;

   @include media(">sm") {
      flex-flow: row;
   }
}
