@charset 'UTF-8';
@import "sass/main.scss";

// BASE
*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
*:focus:not(:focus-visible) {
   outline: none;
}

html {
   font: 62.5%/150% var(--ff-primary); // 1rem = 10px
   -webkit-text-size-adjust: 100%;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   // NO SCROLLBAR
   scrollbar-width: none;
   scroll-behavior: smooth;
   -ms-overflow-style: none;
}

body {
   position: relative;
   // font-size: 1.5rem;
   @include font-size-fluid(rem-to-px(1.6rem), rem-to-px(2rem));

   // NO SCROLLBAR
   &::-webkit-scrollbar {
      display: none;
   }
}
